<h1>Movie #<%= @movie_id %> details</h1>

<p>
  <a href="/movies">
    Go back
  </a>
</p>

<hr>

<dl>
  <dt>
    Title
  </dt>
  <dd>
    <%= @movie.title %>
  </dd>

  <dt>
    Year
  </dt>
  <dd>
    <%= @movie.year %>
  </dd>

  <dt>
    Duration
  </dt>
  <dd>
    <%= @movie.duration %>
  </dd>

  <dt>
    Description
  </dt>
  <dd>
    <%= @movie.description %>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src="<%= @movie.image %>">
  </dd>

  <dt>
    Director
  </dt>
  <dd>
    <% d = Director.where({ :id => @movie.director_id }).at(0) %>
    <%= d.name %>
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%= time_ago_in_words(@movie.created_at) %> ago
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%= time_ago_in_words(@movie.updated_at) %> ago
  </dd>
</dl>

<hr>
